.menu-bar1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: center;
    color: #fff;
    font-size: 16px;
    z-index: 2; 
  }
  
  .menu-bar1 a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
  }
  
  .menu-bar1 a:hover {
    color: #ffff00;
  }
  .login button {
    background-color: #4a2cb5;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login button:hover {
    background-color:  #ffea00;
  }
  .logo1 {
    margin-right: auto; /* Pushes the logo to the left corner */
  }
  
  .logo1 img {
    height: 50px; /* Adjust the height as needed */
    width: auto; /* Maintain the aspect ratio */
    margin-left: 5px; /* Add some spacing between the logo and the links */
  }
  
  /* Add these styles to your existing CSS file */
  .contact-info-dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%; /* Position the box below the "Contact Us" button */
    left: 20;
    display: none; /* Initially hide the box */
    color: #000000;
  }
  
  .menu-bar1:hover .contact-info-dropdown {
    display: block; /* Show the box when hovering over the "Contact Us" button */
  }
  
  .menu-bar1 button {
    background-color: #000000; /* Set the background color to black */
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .menu-bar1 button:hover {
    background-color: #ffea00;
    color: #000000; /* Change the text color on hover to make it visible */
  }
  