/* Profile.css */

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .bgp-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/stf.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1.1;
  }
  
  .content {
    position: relative;
    z-index: 1;
    padding: 20px;
    text-align: center;
    color: #000000;
  }
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .profile-box {
  
    padding: 20px;
    margin: 10px;
    transition: transform 0.2s ease;
    cursor: pointer;
    background-color:rgba(209, 208, 208, 0.642);
  }
  
  .profile-box:hover {
    transform: scale(1.05);
  }
  
  .profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .profile-label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .profile-value {
    font-weight: normal;
  }
  
  .edit-button1 button {
    background-color: #4a2cb5;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .edit-button1 button:hover {
    background-color: #412c8f;
  }
  
  .profile-icon {
    font-size: 50px; /* Adjust the size as needed */
    margin-bottom: 10px; /* Optional: Add some spacing between the icon and heading */
  }
  
  .profile-heading {
    font-size: 24px; /* Adjust the size as needed */
    margin: 0; /* Remove any default margins if needed */
  }
  