.dihan-inventory-item-container { /* Updated class name */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dihan-inv-list { /* Updated class name */
  flex: 0 1 calc(20% - 20px);
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.dihan-food-list { /* Updated class name */
  background-color: #f0f0f0;
}

.dihan-furniture-list { /* Updated class name */
  background-color: #e0e0e0;
}

.dihan-machinery-list { /* Updated class name */
  background-color: #d0d0d0;
}

.dihan-issued-list { /* Updated class name */
  background-color: #f0f0f0;
}

.dihan-reports-list { /* Updated class name */
  background-color: #e0e0e0;
}

.dihan-inv-list h3 { /* Updated class name */
  font-size: 20px;
  margin-bottom: 10px;
}

.dihan-inv-list a { /* Updated class name */
  text-decoration: none;
  color: #007BFF;
  font-weight: bold;
}

.dihan-inv-list a:hover { /* Updated class name */
  text-decoration: underline;
  color: #0056b3;
}
