/* itemDetails.css */
.title {
    display: flex;
    flex-direction: column;
  }
  
  .details-container {
    position: relative;
    z-index: 1;
    padding: 20px;
    text-align: center;
    color: #000000;
  }
  
  /* Center the container vertically and horizontally */
  .item-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
  }
  
  /* Style the buttons on the right */
  .item-list-buttons {
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
  }
  
  /* Style the add stock button */
  .add-stock-button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #007bff; /* Change the background color as needed */
    color: #fff; /* Change the text color as needed */
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
  }
  .back {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #007bff; /* Change the background color as needed */
    color: #fff; /* Change the text color as needed */
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
  }
  /* Hover effect for the add stock button */
  .add-stock-button:hover {
    background-color: #0056b3; /* Change the hover background color as needed */
  }
  