
.loginh-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.bgs-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/vegetables.avif'); 
  background-size: cover;
  background-repeat: no-repeat;
  
  opacity: 1.1;
}

.contentLo {
  position: relative;
  z-index: 1;
  padding: 20px;
  text-align: center;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.935);
  border-radius: 8px;
  width: 400px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mb-3 {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-primaryL {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.register-link {
  margin-top: 20px;
}

.outer-box {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  width: 280px; /* Adjust the width as needed */
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

