.successOrder{
    margin: auto;
}
.successStall{
    margin: auto;
}
.ViewHead{
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.gg-Img{
   
        position: fixed;
        top: 0;
        left: 0;
        width: 200vh;
        height: 200vh;
        background-image: url('../images/vegetables.avif'); 
        background-size: content;
        background-repeat: no-repeat;
        
        opacity: 1.1;
      
}
.mmm{
    background-color: aliceblue;
    height: max-content;
    width: 150vh;
}
.ViewSucc{
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 1vh;
}
